.root{
    -fx-background-color : #F3F3F3;
    -fx-font-size : 16;
    -fx-font-family : "Verdana";
    -fx-font-color : #393E46;
    -fx-accent: #F2E7D5;
    -fx-focus-color: #F2E7D5;
    -fx-spacing: 10;
}

.button{
    -fx-background-color: #6D9886;
    -fx-background-insets: 5;
    -fx-padding: 10;
}

.button:hover{
    -fx-background-color: #5C8071;
    -fx-font-color: #23262b;
}

.choice-box{
    -fx-background-color: #6D9886;
}

.choice-box:hover{
    -fx-background-color: #5C8071;
}

#boldButton{
    -fx-font-weight: BOLD;
    -fx-min-height: 20;
    -fx-min-width: 20;
}