.root{
    -fx-background-color : #F3F3F3;
    -fx-font-size : 16;
    -fx-font-family : "Verdana";
    -fx-font-color : #393E46;
    -fx-accent: #F2E7D5;
    -fx-focus-color: #F2E7D5;
    -fx-spacing: 8;
}

.button{
    -fx-background-color: #6D9886;
    -fx-background-insets: 5;
    -fx-padding: 10;
}

.button:hover{
    -fx-background-color: #5C8071;
}

.choice-box{
    -fx-background-color: #6D9886;
}

.choice-box:hover{
    -fx-background-color: #5C8071;
}

.region{
    -fx-spacing: 100;
}

#backButton{
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-font-size: 100;
    -fx-font-color: #393E46;
}

#backButton:hover{
    -fx-font-color: #292d33;
}