../out/production/main/
.idea/libraries/
.idea/misc.xml
.idea/workspace.xml
demo/src/main/java/main.iml
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
target/